<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <main class="primer-contenedor">
        <header>
            <img class="logo" src="./Imagen/logo.png" alt="logo">          
            <nav class="main-nav">
                <li>SING IN</li>
                <li>Contact Us</li>
                <li>Porduct Details</li>
                <li>Our Shop</li>
                <li>Home</li>
            </nav>
        </header>
        <section class="principal"> <!-- primera parte -->
            <div class="presentacion">
                <h2>WELCOME TO LUGX</h2>
                <h1>BEST GAMING SITE EVER!</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate soluta fugiat quasi eveniet adipisci officia. Harum eligendi eaque obcaecati minus.</p>    
                <form action="">
                    <input type="text" placeholder="Type Something">
                    <button role="button">Search Now</button>
                </form>
            </div>
            <div class="banner">
                <img src="./Imagen/banner-image.jpg" alt="banner">
            </div>
        </section>
    </main>
    <main class="segundo-contenedor">  
        <section class="secundaria"> <!-- segunda parte -->
            <div class="storage">
                <div>
                    <img src="Imagen/featured-01.png" alt="storage">
                </div>
                <h4>FREE STORAGE</h4>
            </div>
            <div class="user">
                <div>
                    <img src="Imagen/featured-02.png" alt="storage">
                </div>
                <h4>USER MORE</h4>
            </div>
            <div class="reply">
                <div>
                    <img src="Imagen/featured-03.png" alt="storage">
                </div>
                <h4>REPLY READY</h4>
            </div>
            <div class="easy">
                <div>
                    <img src="Imagen/featured-04.png" alt="storage">
                </div>
                <h4>EASY LAYOUT</h4>
            </div>
        </section>
    </main>   
    <main class="tercer-contenedor"> 
        <section class="tercera"> <!-- Tercera parte -->
            <div class="encabezado-treding">
                <h6>TREDING</h6>
                <H2>Trending Games</H2>
                <button class="botonprin" role="button">VIEW ALL</button>
            </div>
            <div class="TREDING">
                <div class="contenedorc1">
                    <div class="img1">
                        <img src="Imagen/trending-02.jpg" alt="producto1">
                    </div>
                    <div class="text1">
                        <span class="span1">Action</span>
                        <h5 class="titletreding">Assasin Creed</h5>
                        <button class="shop1">Agregar</button>
                    </div>
                </div>
                <div class="contenedorc2">
                    <div class="img2">
                        <img src="Imagen/trending-01.jpg" alt="producto1">
                    </div>
                    <div class="text2">
                        <span class="span1">Action</span>
                        <h5 class="titletreding">Assasin Creed</h5>
                        <button class="shop1">Agregar</button>
                    </div>
                </div>
                <div class="contenedorc3">
                    <div class="img3">
                        <img src="Imagen/trending-03.jpg" alt="producto1">
                    </div>
                    <div class="text3">
                        <span class="span1">Action</span>
                        <h5 class="titletreding">Assasin Creed</h5>
                        <button class="shop1">Agregar</button>
                    </div>
                </div>
                <div class="contenedorc4">
                    <div class="img4">
                        <img src="Imagen/trending-04.jpg" alt="producto1">
                    </div>
                    <div class="text4">
                        <span class="span1">Action</span>
                        <h5 class="titletreding">Assasin Creed</h5>
                        <button class="shop1">Agregar</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <main class="cuarto-contenedor">
        <section class="top"> <!-- cuarta parte -->
            <div>
                <div class="encabezado-treding">
                    <h6>TOP GAMES</h6>
                    <H2>Most Played</H2>
                    <button class="botonprin" role="button">VIEW ALL</button>
                </div>
                <div class="mostgame">
                    <div class="cont_game">
                        <div class="img1">
                            <img src="Imagen/top-game-01.jpg" alt="producto1">
                        </div>
                        <div class="text1">
                            <span class="span1">Action</span>
                            <h5 class="tittleview">Assasin Creed</h5>
                            <button class="view">Explorar</button>
                        </div>
                    </div>
                    <div class="cont_game">
                        <div class="img2">
                            <img src="Imagen/top-game-02.jpg" alt="producto1">
                        </div>
                        <div class="text2">
                            <span class="span1">Action</span>
                            <h5 class="tittleview">Assasin Creed</h5>
                            <button class="view">Explorar</button>
                        </div>
                    </div>
                    <div class="cont_game">
                        <div class="img3">
                            <img src="Imagen/top-game-03.jpg" alt="producto1">
                        </div>
                        <div class="text3">
                            <span class="span1">Action</span>
                            <h5 class="tittleview">Assasin Creed</h5>
                            <button class="view">Explorar</button>
                        </div>
                    </div>
                    <div class="cont_game">
                        <div class="img4">
                            <img src="Imagen/top-game-04.jpg" alt="producto1">
                        </div>
                        <div class="text4">
                            <span class="span1">Action</span>
                            <h5 class="tittleview">Assasin Creed</h5>
                            <button class="view">Explorar</button>
                        </div>
                    </div>
                    <div class="cont_game">
                        <div class="img4">
                            <img src="Imagen/top-game-06.jpg" alt="producto1">
                        </div>
                        <div class="text4">
                            <span class="span1">Action</span>
                            <h5 class="tittleview">Assasin Creed</h5>
                            <button class="view">Explorar</button>
                        </div>
                    </div>
                    <div class="cont_game">
                        <div class="img4">
                            <img src="Imagen/top-game-05.jpg" alt="producto1">
                        </div>
                        <div class="text4">
                            <span class="span1">Action</span>
                            <h5 class="tittleview">Assasin Creed</h5>
                            <button class="view">Explorar</button>
                        </div>
                    </div>
                </div>
        </section>
    </main>
    <main class="quinto-contenedor">
        <section class="categorias"> <!-- quinta parte -->
            <h6 class="enca_catego">CATEGORIES</h6>
            <H2 class="top_cate">Top Categories</H2>
            <div class="contain_top">
                <div>
                    <h6>Action</h6>
                </div>
                <div>
                    <img src="Imagen/categories-01.jpg" alt="action">
                </div>
            </div>
            <div class="contain_top">
                <div>
                    <h6>Action</h6>
                </div>
                <div>
                    <img src="Imagen/categories-05.jpg" alt="action">
                </div>
            </div>
            <div class="contain_top">
                <div>
                    <h6>Action</h6>
                </div>
                <div>
                    <img src="Imagen/categories-03.jpg" alt="action">
                </div>
            </div>
            <div class="contain_top">
                <div>
                    <h6>Action</h6>
                </div>
                <div>
                    <img src="Imagen/categories-04.jpg" alt="action">
                </div>
            </div>
            <div class="contain_top">
                <div>
                    <h6>Action</h6>
                </div>
                <div>
                    <img src="Imagen/categories-05.jpg" alt="action">
                </div>
            </div>
        </section>
    </main>
    <main class="sexto-contenedor">
        <div class="imagen_fondo"></div>
        <section class="Promocion">
            <div class="comprar">
                <h6>Our Shop</h6>
                <h2>Go Pre-Order Buy & Get Best Prices For You!</h2>
                <p>Lorem ipsum dolor consectetur adipiscing, sed do eiusmod tempor incididunt.</p>
                <button role="button">SHOP NOW</button>
            </div>
            <div class="subcripcion">
                <h6>NEWSLETTER</h6>
                <h2>Get Up To $100 Off Just Buy Subscribe Newsletter!</h2>
                <form>
                    <input type="text" placeholder="Your Email...">
                    <button role="button">SUBCRIBE NOW</button>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <p>copyright Yojan Hernandez</p>
    </footer>  
    </main>
</body>
</html>